extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ernest Nežić

        p.lead.text-light
          | Full Stack JavaScript Developer and Startup owner.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My name is Ernest and I come from a small town in the heart of Istria region, Croatia. After finishing the gymnasium high school in my hometown, I moved to Zagreb, Croatia to start a Multimedia Computing program on Algebra University. 
            | Other than collage, I take interest in many things, some of them being Full Stack JavaScript Development, Club DJing and Event planning. I'm a very hard and persistent worker that always finishes all his projects to perfection. 
            | My main project at the moment is my Startup project: Digital Receipt that I started about a year ago and plan on expanding.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li Express
          li Problem Solving
          li iOS Application development
          li Teamwork
          li Leadership
          li Enterpreneurship
        h6 Contact Info

        ul
          li +385 91 226 0906
          li ernest.nezic@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/ernest-nežić-142181169/', target="_blank" ) LinkedIn
        a.button.expanded(href='https://github.com/ernestnezic', target="_blank" ) GitHub
        a.button.expanded(href='https://twitter.com/ErnestNezic', target="_blank" ) Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  